$black: #000;
$white: #eee;
$beige: bisque;
$red: #ee2e2e;
$lightgrey: #e5e5e5;
$facebook: #1877f2;
$instagram: #e4405f;
$twitter: #00aced;
$soundcloud: #f30;
$youtube: #f00;
$spotify: #1ed760;
$itunes: #fb5bc5;
$bandcamp: #408294;
$black_op_90: rgba(0, 0, 0, 0.9);
$black_op_75: rgba(0, 0, 0, 0.75);
$black_op_10: rgba(255, 255, 255, 0.1);