@import "colors.scss","fonts.scss";
/* ALBUM RELEASE ADD specifics */
.release {
    .release__heading {
        font-weight: 400;
        text-align: left;
        margin-top: 0;
    }

    .release__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 0.5em 0 1em;
    }

    .release__button {
        display: block;
        text-decoration: none;
        color: $white;
        font-size: 80%;
        text-align: center;
        margin-bottom: 0;
        padding: 0.2em 0.5em;
        background-color: $black;
        max-width: 100%;
        border: 1px solid $white;
    }

    .release__photo {
        border: 1px solid $white;
        max-width: 280px;
    }

    display: flex;
    background-image: url("../images/release/evil-reign-release-bg.webp");
    border: 2px solid $white;
    padding: 1%;
    margin: 2em auto;
}
@media only screen and (max-width: 820px) {

    .release {
        .release__photo {
            max-width: 100%;
        }

        .release__heading {
            text-align: center;
        }

        .release__content {
            margin-bottom: 0.5em;
            justify-content: center;
        }

        flex-direction: column;
        justify-content: center;
        padding: 2%;
    }
}